html {
  background-color: #79bbc8;
}

body {
  font-family: "Indie Flower", cursive;
  background: url("src/assets/waves.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  filter: url("#turbulence");
  height: 100%;
}